body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: white;
}

#setup, #privacy {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.box {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
}

input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    cursor: pointer;
}

#participants {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

.user {
    background: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

.user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
